<html>
    <head>
        <meta http-equiv="refresh" content="0; URL='/en'"/>
        <style>
            a,
            body {
                color: transparent;
                animation: 0.25s ease-in 3s forwards show;
            }

            a {
                --color: blue;
            }

            @keyframes show {
                0% {
                    color: transparent;
                }

                100% {
                    color: var(--color, black);
                }
            }
        </style>
    </head>

    <body>
        <h1>Redirecting to
            <a href="/en">Home Page</a>
        </h1>
    </body>
</html>